<div class="nav flex-column sidebar" aria-orientation="vertical">
  <a class="nav-link mb-2" href="#">
    <img src="../../../assets/img/ally.png" width="24" height="24" style="border-radius: 5px;" alt="">ALLY-WORLD</a>
    <a class="nav-link active" href="">News Feed</a>
    <a class="nav-link" href="">Profile</a>
    <a class="nav-link" href="">Messages</a>
    <a class="nav-link" href="">Exit</a>
    <p class="mb-2 text-secondary">Options</p>
    <a class="nav-link" href="">News Feed</a>
    <a class="nav-link" href="">Profile</a>
    <a class="nav-link" href="">Messages</a>
    <a class="nav-link" href="">Exit</a>
    <p class="mb-2 text-secondary">Options</p>
    <a class="nav-link" href="">News Feed</a>
    <a class="nav-link" href="">Profile</a>
    <a class="nav-link" href="">Messages</a>
    <a class="nav-link" href="">Exit</a>
</div>