.card {
    height: auto;
    margin-bottom: 15px;
}

.card .card-header {
    padding: 7px;
    font-weight: 500;
    font-size: 13px;
}

.card .card-body {
    padding: 0;
}

.card .card-body .img-post {
    width: 52px;
    height: 52px;
    padding-left: 12px;
    padding-right: 12px;
}

.card .card-body textarea {
    width: 448px;
    height: 71px;
    border: none;
    resize: none;
    padding: 20px 15px;
    outline: none;
    border-color: transparent;
}

.card .card-body .add-section {
    border-top: 0.5px solid #dddfe2;
    margin: 0 10px;
    height: 49px;
}